.center {
  text-align: center;
  border: 3px solid rgb(194, 194, 194);
  align-items: center;
  align-content: flex-end;
  font-size: x-large;

}

.f-content{
  justify-content: center;
  max-width: 100%;
  box-sizing: border-box;
}

.option {
  align-items: center;
  padding-left: 550px;
  border-radius: 5px;
}
